{% extends 'base.html' %} {% block content %}
<div class="margin-top-large">
  <h1 class="secondary-heading uppercase center-align margin-bottom-large"><span class="text-black">All </span>Recipes ({{ number_of_all_rec }})</h1>
</div>

<div class="divider-container hide-on-small-only">
      <hr class="divider-yellow" />
</div>

<div class="container-recipes">
  <div class="row">
    {% for recipe in recipes %} 
        {% include "partials/recipecards.html" %} 
    {% endfor %}
  </div>
    <!--Pagination-->
  <ul class="pagination center-align margin-bottom-large">
    {% for page_num in pages %} 
        {% if page_num == current_page %}
        <li class="active"><a>{{ page_num }}</a></li>
        {% else %}
        <li class="waves-effect">
        <a href="{{ url_for('all_recipes', current_page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endif %} 
    {% endfor %}
  </ul>
</div>
{% endblock %}
