{% extends 'base.html' %} {% block content %}
<section class="container margin-top-large">
  <h1 class="secondary-heading uppercase center-align margin-bottom-large"><span class="text-black">All </span>Recipes ({{ number_of_all_rec }})</h1>
    <div class="margin-top-med hide-on-small-only">
    <hr class="center-align divider-yellow" />
    </div>
</section>
<div class="container container-recipes margin-top-med">
  <div class="row">
    {% for recipe in recipes %} 
        {% include "partials/_recipecards.html" %} 
    {% endfor %}
  </div>
    <!--Pagination-->
  <ul class="pagination center-align">
    {% for page_num in pages %} 
        {% if page_num == current_page %}
        <li class="active"><a>{{ page_num }}</a></li>
        {% else %}
        <li class="waves-effect">
        <a href="{{ url_for('all_recipes', current_page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endif %} 
    {% endfor %}
  </ul>
</div>
{% endblock %}
