{% extends 'base.html' %}
{% block content %}
<section class="login-reg-section">
<h1>Login</h1>
<form method="POST" action="">
{{ form.hidden_tag() }}
<div class="row">
<div class = "col s12">
    {{ form.old_password.label }}
    {{ form.old_password }}
    {% for error in form.old_password.errors %}
    <span class = "error-message">[{{ error }}]</span>
    {% endfor %}
</div><div class = "col s12">
    {{ form.new_password.label }}
    {{ form.new_password }}
    {% for error in form.new_password.errors %}
    <span class = "error-message">[{{ error }}]</span>
    {% endfor %}
</div>
<div class = "col s12">
    {{ form.confirm_new_password.label }}
    {{ form.confirm_new_password }}
    {% for error in form.confirm_new_password.errors %}
    <span class = "error-message">[{{ error }}]</span>
    {% endfor %}
</div>
<div>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="error-message">
    {{ message }}
</p>
{% endfor %}
{% endif %}
{% endwith %}
</div>
<div>{{ form.submit() }}</div>
</div>
</form>
</section>
{% endblock %}