{% extends 'base.html' %} {% block content %}
<section class="login-reg-section center-align">
  <a href="{{ url_for('home') }}">
    <img
      src="{{ url_for('static', filename='img/logo.png') }}"
      class="logo-login-register hide-on-med-and-down"
      alt="My CookBook Logo"
    />
  </a>
  <h1 class="secondary-heading heading-black uppercase">Change password</h1>
  <div class="row">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <!--Old password-->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          {{ form.old_password.label }}
          {{ form.old_password(placeholder="Enter current password") }}
          {% for error in form.old_password.errors %}
          <span class="text-red">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <!--New password-->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          {{ form.new_password(placeholder="Enter new password", id="new_password") }}
          <label for="new_password">New Password <i class="fas fa-question-circle tooltipped" data-position="top" data-tooltip="3-15 characters, case sensitive"></i></label>
          {% for error in form.new_password.errors %}
          <span class="text-red">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <!--New password-->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          {{ form.confirm_new_password.label }} 
          {{ form.confirm_new_password(placeholder="Confirm new password") }} 
          {% for error in form.confirm_new_password.errors %}
          <span class="text-red">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
        <!--Flash messages-->
        <div class="row center-align">
        {% with messages = get_flashed_messages() %} 
            {% if messages %} 
                {% for message in messages %}
                    <p class="text-red">
                    {{ message }}
                    </p>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        </div>
      <!--Button-->
      <div class="col s6 right-align margin-bottom-large">
        <a
          href="{{ url_for('account_settings', username = session.username) }}"
          class="btn z-depth-2 btn-change btn-form btn-secondary waves-effect waves-light uppercase"
          name="action"
        >
          Cancel
        </a>
      </div>
      <div class="col s6 left-align margin-bottom-large">
        {{ form.submit(class="btn z-depth-3 btn-change btn-form button-coral uppercase")}}
      </div>
    </form>
  </div>
</section>
{% endblock %}
