{% extends 'base.html' %}
{% block content %}
<div class="container margin-top-large container-addrecipe z-depth-2">
    <h1 class="uppercase center-align secondary-heading">Edit Recipe</h1>
    <form class="add-edit-form" autocomplete="off" method="POST" action="{{ url_for('update_recipe', recipe_id=selected_recipe._id) }}">
        <div class="row">
            <!--Recipe Name-->
            <div class="input-field col s12">
                <i class="far fa-file-alt prefix"></i>
                <input id="recipe_name" name="recipe_name" value="{{ selected_recipe.recipe_name }}" 
                    type="text" minlength="4" maxlength="25"
                    class="validate" required />
                <label for="recipe_name">Recipe Name    
                    <i class="fas fa-question-circle tooltipped" data-position="top" data-tooltip="4-25 characters"></i> 
                    <i class="fas fa-asterisk asterisk"></i>
                </label>
            </div>
            <!--Recipe Description-->
            <div class="input-field col s12">
                <i class="fas fa-pen prefix"></i>
                <textarea
                    id="recipe_description"
                    name="recipe_description"
                    class="validate materialize-textarea"
                    minlength="20"
                    maxlength="300" 
                    required
                >{{ selected_recipe.description }}
                </textarea>
                <label for="recipe_description">Recipe Description  <i class="fas fa-question-circle tooltipped" data-position="top" data-tooltip="20-300 characters"></i> 
                    <i class="fas fa-asterisk asterisk"></i>
                </label>
            </div>
            <!-- Cuisine_type-->
            <div class="input-field col s12 m6 l4">
                <i class="fas fa-globe-europe prefix"></i>
                <!--If cuisine is not selected(as it is optional), value "None" is assigned,
                to be "not specified" displayed on the recipe card-->
                <select id="cuisine_type" name="cuisine_type">
                    <option value="None" selected>Select an option</option>
                    {% for cuisine in cuisine_types %}
                    {% if cuisine.cuisine_type == selected_recipe.cuisine_type %}
                        <option value="{{cuisine.cuisine_type}}" selected>{{cuisine.cuisine_type}}</option>
                    {% else %}
                        <option value="{{cuisine.cuisine_type}}">{{cuisine.cuisine_type}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="cuisine_type">Cuisine (optional)</label>
            </div>
            <!-- Meal_type-->
            <div class="input-field col s12 m6 l4">
                <i class="fas fa-utensils prefix"></i>
                <select id="meal_type" name="meal_type" class="validate" required>
                    <option value="" disabled selected>Select an option</option>
                    {% for meal in meal_types %}
                    {% if meal.meal_type == selected_recipe.meal_type %}
                        <option value="{{meal.meal_type}}" selected>{{meal.meal_type}}</option>
                    {% else %}
                        <option value="{{meal.meal_type}}">{{meal.meal_type}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="meal_type">Meal Type <i class="fas fa-asterisk asterisk"></i></label>
            </div>
            <!-- Diet_type-->
            <div class="input-field col s12 m6 l4">
                <i class="fas fa-leaf prefix"></i>
                <!--If diet_type is not selected(as it is optional), value "None" is assigned,
                to be "not specified" displayed on the recipe card-->
                <select id="diet_type" name="diet_type">
                    <option value="None" selected>Select an option</option>
                    {% for diet in diet_types %}
                    {% if diet.diet_type == selected_recipe.diet_type %}
                        <option value="{{diet.diet_type}}" selected>{{diet.diet_type}}</option>
                    {% else %}
                        <option value="{{diet.diet_type}}">{{diet.diet_type}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                 <label for="diet_type">Diet Type (optional)</label>
            </div>
             <!--Cooking Time-->
            <div class="input-field col s12 m6">
                <i class="far fa-clock prefix"></i>
                <input id="cooking_time" name="cooking_time" value="{{ selected_recipe.cooking_time }}" type="number" class="validate" required />
                <label for="cooking_time">Cooking time (min)  <i class="fas fa-asterisk asterisk"></i></label>
            </div>
             <!-- Servings-->
            <div class="input-field col s12 m6">
                <i class="fas fa-concierge-bell prefix"></i>
                <input id="servings" name="servings" value="{{ selected_recipe.servings }}" type="number" class="validate" required />
                <label for="servings">No. of Servings  <i class="fas fa-asterisk asterisk"></i></label>
            </div>
        </div>

        <div class="row">
            <!-- Ingredients-->
            <div class="input-field col s12">
            <i class="fas fa-clipboard-list prefix"></i>
        
            <textarea
                id="ingredients"
                name="ingredients"
                placeholder="Add each ingredient on a new line"
                class="validate materialize-textarea"
                required
            >
            {%- for ingredient in selected_recipe.ingredients -%}
            {{ ingredient + "\n" }} 
            {%- endfor -%}
            </textarea>
            <label for="ingredients">Ingredients (each on a new line) 
            <i class="fas fa-asterisk asterisk"></i></label>
            </div>
            <!-- Directions-->
            <div class="input-field col s12">
                <i class="fas fa-list-ol prefix"></i>
                
                <textarea
                    id="directions"
                    name="directions"
                    placeholder=" Add each step on a new line"
                    class="validate materialize-textarea"
                    required
                >
                {%- for direction in selected_recipe.directions -%}
                {{ direction + "\n" }} 
                {%- endfor -%}
                </textarea>
                    <label for="directions">Directions (each on a new line) 
                        <i class="fas fa-asterisk asterisk"></i>
                    </label>
            </div>
            <!-- Image Recipe-->
            <div class="input-field col s12">
                <i class="far fa-images prefix"></i>
                <input
                    id="recipe_image"
                    name="recipe_image"
                    value="{{ selected_recipe.image}}"
                    placeholder="Provide URL for your recipe image"
                    type="text"
                    class="validate"
                />
                <label for="recipe_image">Recipe Image URL (optional)
                    <i class="fas fa-question-circle tooltipped" data-position="top" 
                        data-tooltip="You can upload your image to a free image hosting website (e.g. ImgBB) and paste direct link here">
                    </i>
                </label>
            </div>
            <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <small class="text-red">
                {{ message }}
            </small>
            {% endfor %}
            {% endif %}
            {% endwith %}
            </div>
            <!--Button-->
            <div class="row">
                <div class="col s6 right-align">
                <a
                    href="{{ url_for('home') }}"
                    class="btn z-depth-2 btn-form btn-secondary waves-effect waves-light btn-main uppercase"
                    name="action"
                >
                    Cancel
                </a>
                </div>
                <div class="col s6">
                    <button
                    class="btn z-depth-3 btn-coral btn-form waves-effect waves-light btn-main uppercase"
                    type="submit"
                    name="action"
                    >
                    Edit Recipe
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}