{% extends 'base.html' %}
{% block content %}
<section class = "container home-container">
<div row>
<div class="col s12">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="error-message">
    {{ message }}
</p>
{% endfor %}
{% endif %}
{% endwith %}
</div>
</div>
<div class="container container-recipes">
  <div class="row">
    {% for recipe in recipes %}
        {% include "partials/_recipecards.html" %}
    {% endfor %}
    </div>
    </div>
</section>


{% endblock %}