{% extends 'base.html' %} {% block content %}
<div class="margin-top-large">
  <div class="center-align">
  <h1 class="secondary-heading uppercase">
    <span class="text-black">{{ username }}</span>'s recipes
  </h1>
  <p class="paragraph-count">
    You have created
    <span class="red-text">{{ number_of_my_rec }}</span> recipes
  </p>
  <div class="margin-bottom-large margin-top-small">
    <a
      href="{{ url_for('add_recipe')}}"
      class="waves-effect waves-light btn uppercase z-depth-3 btn-coral-2"
    >
      Add New Recipe
    </a>
  </div>
  </div>

  <div class="container-recipes">
    <div class="row  margin-bottom-large">
      {% for recipe in my_recipes %} 
          {% include "partials/recipecards.html" %} 
      {% else %}
      <h5 class="margin-top-small">
        You haven't created any recipes yet. Click on the button above to get started!
      </h5>
      {% endfor %}
    </div>
    <!--Pagination-->
    <ul class="pagination center-align margin-bottom-large">
      {% for page_num in pages %} 
          {% if page_num == current_page %}
          <li class="active"><a>{{ page_num }}</a></li>
          {% else %}
          <li class="waves-effect">
          <a
              href="{{ url_for('my_recipes', username = session.username, current_page=page_num) }}"
              >{{ page_num }}</a>
          </li>
          {% endif %} 
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
