{% extends 'base.html' %}
{% block content %}
<section class = "container margin-top-large center-align">
<h1>{{ selected_recipe.recipe_name }}</h1>
<p>{{ selected_recipe.description }}</p>
<div class="row">
<div class="col s12 m6">
      <img
        class="responsive-img z-depth-2"
        src="{{ selected_recipe.image }}"
        alt="Recipe Image"
      />
<p>Author: {{ author }}</p>
</div>
<div class="col s12 m6">
<div>
<h6>Cuisine Type</h6>
{{ selected_recipe.cuisine_type }}</div>
<div>
<h6>Meal Type</h6>
{{ selected_recipe.meal_type }}</div>
<div>
<h6>Diet Type</h6>
{{ selected_recipe.diet_type }}</div>
<div>
<h6>Cooking time</h6>
{{ selected_recipe.cooking_time }}</div>
<div>
<h6>Serves</h6>
{{ selected_recipe.servings }}</div>
</div>
</div>
<div class="row">
<div class="col s12 m6">
<h4>Ingredients: </h4>
<ul>
{% for ingredient in selected_recipe.ingredients %}
<li>
    {{ ingredient }}
</li>
{% endfor %}
</ul>
</div>
<div class="col s12 m6">
<h4>Directions: </h4>
    <ol>
    {% for direction in selected_recipe.directions %}
    <li>
        {{ direction }}
    </li>
    {% endfor %}
    </ol>
</div>
</div>
</section>
{% endblock %}