{% extends 'base.html' %} {% block content %}
<section class="container margin-top-large center-align">
  <h1>{{ selected_recipe.recipe_name }}</h1>
  <p>{{ selected_recipe.description }}</p>
  <div class="row">
    <div class="col s12 m6">
      <img
        class="responsive-img z-depth-2"
        src="{{ selected_recipe.image }}"
        alt="Recipe Image"
      />
      <p>Author: {{ author }}</p>
      {% if session.username == author %}
      <div class="row">
        <div class="col s6">
          <a href="{{ url_for('edit_recipe', recipe_id=selected_recipe._id) }}" class="btn" name="action">
            <i class="fas fa-edit right"></i>
            Edit
          </a>
        </div>
        <div class="col s6">
          <a href="#delete-modal" class="btn modal-trigger " name="action">
            <i class="fas fa-trash-alt right"></i>
            Delete
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  
  <div class="col s12 m6">
    <div>
      <h6>Cuisine Type</h6>
      {{ selected_recipe.cuisine_type }}
    </div>
    <div>
      <h6>Meal Type</h6>
      {{ selected_recipe.meal_type }}
    </div>
    <div>
      <h6>Diet Type</h6>
      {{ selected_recipe.diet_type }}
    </div>
    <div>
      <h6>Cooking time</h6>
      {{ selected_recipe.cooking_time }}
    </div>
    <div>
      <h6>Serves</h6>
      {{ selected_recipe.servings }}
    </div>
  </div>
</div>
  <div class="row">
    <div class="col s12 m6">
      <h4>Ingredients:</h4>
      <ul>
        {% for ingredient in selected_recipe.ingredients %}
        <li>
          {{ ingredient }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col s12 m6">
      <h4>Directions:</h4>
      <ol>
        {% for direction in selected_recipe.directions %}
        <li>
          {{ direction }}
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</section>
<!--Delete Recipe Modal -->
<div id="delete-modal" class="modal">
  <div class="modal-content center-align">
    <h5>Delete Recipe</h5>
    <div class="divider"></div>
    <p class="text-red">
      <i class="fas fa-exclamation-circle"></i>Attention! Deleting the recipe
      will permanently remove it from the website! </p>
     <h6> Are you sure you want to delete it?</h6>
    <div>
    <a href="#" class="modal-close btn btn-secondary waves-effect waves-light z-depth-2"
      >Cancel</a
    >
    <a
      class="btn btn-main z-depth-2"
      href="{{ url_for('delete_recipe', recipe_id=selected_recipe._id) }}"
      >Delete Recipe</a
    >
  </div>
  </div>
</div>
{% endblock %}
