main {
background-image: radial-gradient(rgba(249, 238, 238, 0.91), rgba(152, 142, 142, 0.04)), url(../img/error-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}