@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap");

/* Colour Variables and Fonts*/
:root {
--white: #ffffff;
--midiumwhite: #fffafa;
--darkwhite: #f5f5f5f3;
--black: #070707;
--lightblack: #2e2e2e;
--darkgrey: #515151;
--lightgrey: #a3a3a3;
--coral: #ff4242;
--lightcoral: #ff5249e6;
--yellow: #fab700;
--darkyellow: #c89200;
--red: #ee0909;
--lightred: #ff2b24;
--green: #0f860f;
--lighgreen: #16bd16;
--primaryfont: "Open Sans", sans-serif;
--secondaryfont: "Ubuntu", sans-serif;
}
/**Materialize styly required for flexbox**/
main {
flex: 1 0 auto;
margin-top:4em;
}
body{
display: flex;
min-height: 100vh;
flex-direction: column;
margin: 0;
padding: 0; 
color:var(--lightblack);
background-color: var(--white);
font-family: var(--primaryfont);
font-weight: 400;
line-height: 1.7rem;
overflow-x: hidden;
}
/* General style settings*/
.uppercase {
text-transform: uppercase;
}
.margin-top-large{
margin-top: 5rem;
}
.margin-top-small{
margin-top: 1rem;
}
.margin-bottom-small{
margin-bottom: 1rem;  
}
.container-95{
width: 95%;
}
.container-85{
width: 85%;  
}
.text-red{
color: var(--red);
}
.text-black{
color: var(--lightblack);
}
.bold{
font-weight: bold;
}
/* Headings*/
.primary-heading{
font-size: 2.3rem;
font-weight: 500;
letter-spacing: 0.3rem; 
font-family: var(--secondaryfont);
text-shadow: 1px 1px 1px var(--lightgrey);
}
.secondary-heading{
font-size: 2.1rem;
letter-spacing: 0.2rem; 
color: var(--coral);
font-weight: 600;
}
.tertiary-heading{
font-size: 1.7rem;
color: var(--coral);
}
.sub-heading{
font-size: 1.7rem;
}
.heading-black{
color: var(--lightblack);
margin: 2rem;
padding-bottom: 1rem;
text-shadow: 1px 1px 1px var(--lightgrey);
}
/* Navigation Bar*/
nav{
position: fixed;
top: 0px;
z-index: 10;
background-color: var(--darkwhite);
font-family: var(--primaryfont);
}
nav img {
height: 2em;
padding-left: 6px;
}
nav ul a {
color: var(--lightblack);
padding: 0 20px;
font-family: var(--secondaryfont);
margin-right: 5px;
font-weight: 400;
}
.navbar-icon{
margin-right: 0.8rem;
font-size: 20px;
color: var(--lightblack);
}
.mobile-navbar-heading{
font-size: 2.6rem;
text-shadow: 1px 1px 6px var(--darkwhite);
color: var(--coral);
}
/* Footer */
.footer-container{
background-color: var(--darkwhite);
padding-bottom: 0.5rem;
color: var(--lightblack);
-webkit-box-shadow: 0px -5px 10px -6px var(--lightblack);
-moz-box-shadow: 0px -5px 10px -6px var(--lightblack);
box-shadow: 0px -5px 10px -6px var(--lightblack);
}
.media-icons{
font-size: 25px;
color: var(--black);
margin-bottom: 5px;
padding: 3px;
font-weight: 300;
text-shadow: 2px 2px 2px var(--lightgrey);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-timing-function: ease-in-out;
}
.media-icons:hover {
-webkit-transform: scale(1.3);
-moz-transform: scale(1.3);
-o-transform: scale(1.3);
}


/* Register-Login */
.login-reg-section{
max-width: 30rem;
min-width: 250px;
margin: auto;
margin-top: 4rem;
}
.logo-login-register{
width: 10rem;
}
.error-message{
color: var(--red);
}
/* override Materialize label color */
.input-field label {
color: var(--black);
}
/* Home page*/
.home-container{
padding-left:10px;
padding-right: 10px;
border-radius: 15px;
height: 350px;
display:flex;
margin-top:2em;
}
.hero-image{
background-image: radial-gradient(rgba(249, 238, 238, 0.91), rgba(152, 142, 142, 0.04)), url(../img/bg-home.jpg);
background-repeat: no-repeat;
background-size: cover;
position: relative;
border-radius: 15px;
width: 100%;
}
.home-paragpaph{
font-size: 1rem;
}
/* Home page: Place text in the middle of the image */
.text-block-home{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--black);
width: inherit;
padding: 9px;
}
/*Recipe details*/
.divider-yellow{
background-color: var(--darkyellow);
margin-top: -20px;
margin-bottom: 20px;
width: 150px;
height: 2px;
border-radius: 5px;
border: 1px solid var(--darkyellow);
}
.recipe-lead-text{
display: inline-block;
font-weight: 600;
width: 5.5rem;
color: var(--black) !important;
}
.paragraph-recipe{
margin: 0;
}
.recipe_icon {
font-size: 2.5rem;
color: var(--darkyellow);
text-shadow: 2px 2px 2px var(--darkgrey);
}
.unordered-list{
text-align: center;
}
.list-items{
padding: 10px;
font-size: 1.2rem;
line-height: 1.9rem;
}
.bullet-point-icon{
font-size:5px;
margin-right:10px;
}

/*My recipes*/
.paragraph-count{
font-size: 1.5rem;
font-family: var(--secondaryfont);
}
/* Cards*/
.card .card-image img{
border-radius: 25px;
}
.recipe-image{
border-radius: 25px;
}
.card{
background-color: var(--white);
}
.card-bottom-info{
font-size:13px;
margin-top: 5px;
margin-bottom: 0;
}
.icon-recipe-card{
 color: var(--yellow);   
 font-size: 14px;
 padding: 2px;
}
.card-recipe,
.card-image{
border-radius: 25px;
}
.card .card-image img{
position: relative;
object-fit: cover;
height: 40vh;
}
.card .card-content{
padding-top: 0;
}
.card .card-title{
font-weight: 600;
font-size: 1.2rem;
color: var(--black);
}
.card .card-title:hover{
text-shadow: 2px 2px 2px var(--lightgrey);
}
.text-block {
position: absolute;
top: 15px;
right: 10px;
background-color: var(--yellow);
color: var(--black);
font-family:var(--primaryfont);
padding: 0 5px;
line-height: 1px;
opacity: 0.9;
border-radius: 3px;
}
/* Add-Edit recipe*/
.container-addrecipe{
padding:1px;
border-radius: 20px;
margin-bottom: 2rem;
width:100%;
}
.add-edit-form{
padding:0;
}
.asterisk{
color: var(--red);
font-size: 10px;
}
/* Buttons*/
.btn-main{
background-color: var(--coral);
color: var(--white);
border-radius: 1.5rem;
margin-top: 20px;
margin-bottom: -20px;
font-family: var(--secondaryfont);
}
.btn-main:hover,
.btn-main:active,
.btn-main:focus{
background-color: var(--lightcoral);
}
.btn-form{
margin-top: 0;
margin-bottom: 0;
width: 90%;
}
.btn-secondary{
color: var(--black);
background-color: var(--darkwhite);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
background-color: var(--midiumwhite);
}
#btn-home{
text-shadow: 1px 1px 1px var(--lightblack);
}
.btn-edit-del {
width:90%;
}
.btn-red{
background-color: var(--red);
margin: 5px;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus{
background-color: var(--lightred);
}
.btn-green{
background-color: var(--green);
margin: 5px;
}
.btn-green:hover,
.btn-green:active,
.btn-green:focus{
background-color: var(--lighgreen);
}
/* Tablet and Desktop size Media queries*/
@media (min-width: 600px) {
.container-recipes{
width: 95%;
max-width: 1500px;
}
.add-edit-form{
padding:0 2rem;
}
.primary-heading{
font-size: 4rem;
}
.home-container{
width: 85%;
height: 390px;
}
.btn-main{
font-size: 1rem;
}
#btn-home{
width: 15rem; 
}
.unordered-list{
text-align: left;
}
}
/*  Tablet size only Media queries */
@media (min-width: 600px) and (max-width: 992px){
.container-addrecipe{
width:85%;
}
.card .card-image img{
height: 30vh;
}
}
/* Desktop size only Media queries */
@media (min-width: 992px) {
.container-addrecipe{
width:70%;
}
.tablet-break {
display: none; 
}
.home-paragpaph{
font-size: 1.2rem;
}
.sub-heading{
font-size: 1.9rem;
text-align: left;
}
.recipe-description-paragraph{
padding-bottom: 3rem;
}
.recipe-image{
padding: 1rem;
}
.container-recipe-lists{
width:90%;
}
.btn-edit-del {
width:70%;
}
}
