<div class="page-footer  footer-container center-align">
	<div class="container">
		<a href="https://github.com/" target="_blank" 
            rel="noopener"><i class="fab fa-github media-icons"></i></a>
		<a href="https://www.linkedin.com/in/" target="_blank"
			rel="noopener"><i class="fab fa-linkedin-in media-icons"></i></a>
		<a href="https://www.instagram.com/" target="_blank"
			rel="noopener"><i class="fab fa-instagram media-icons"></i></a>
		<a href="https://www.facebook.com/" target="_blank"
			rel="noopener"><i class="fab fa-facebook media-icons"></i></a>
	</div>
	<small> © 2020 My CookBook. All Rights Reserved</small>
</div>