<!--Recipe card-->
<div class="col s12 m6 l3">
  <div class="card hoverable card-recipe">
    <div class="card-image">
    <a href="{{ url_for('single_recipe_details', recipe_id=recipe._id) }}"> 
      {% if recipe.image %}
      <img
        src="{{ recipe.image }}"
        class="responsive-img"
        alt="Recipe Image"
      />
      {% else %}
      <img
        src="{{ url_for('static', filename='img/recipe_placeholder.jpg') }}"
        class="responsive-img"
        alt="No recipe image available" 
      />
      {% endif %}
     </a>
     {% if recipe.cuisine_type=="None" %}
     {% else %}
      <div class="text-block">
        <p>{{ recipe.cuisine_type }}</p>
      </div>
      {% endif %}
    </div>
    <div class="card-content">
    <h3 ><a href="{{ url_for('single_recipe_details', recipe_id=recipe._id) }}" class="card-title">{{ recipe.recipe_name }}</a></h3>
      <div class="divider"></div>
      <div class="row card-bottom-info">
        <div class="col s4 uppercase">{{ recipe.meal_type }}</div>
        <div class="col s8 right-align">
          <span title="Cooking time"
            ><i class="far fa-clock icon-recipe-card"></i> {{ recipe.cooking_time }} min|
          </span>
          <span title="Servings"
            > <i class="fas fa-user icon-recipe-card"></i> {{ recipe.servings }} 
          </span>
        </div>
      </div>
    </div>
  </div>
</div>