<!--Links to the social media open in a new tab to prevent a user 
    from hitting "back" button in the browser-->
<div class="page-footer  footer-container center-align">
	<div class="container">
		<a href="https://github.com/irinatu17" target="_blank" rel="noopener">
            <i class="fab fa-github media-icons" aria-hidden="true"></i>
        </a>
		<a href="https://www.linkedin.com/in/irina-tushina/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin-in media-icons" aria-hidden="true"></i>
        </a>
		<a href="https://www.instagram.com/" target="_blank" rel="noopener">
            <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
        </a>
		<a href="https://www.facebook.com/" target="_blank" rel="noopener">
            <i class="fab fa-facebook media-icons" aria-hidden="true"></i>
        </a>
	</div>
    
	<p class="disclamer-text"> For educational purposes only | © 2020 Irina Tushina  </p>
</div>