{% extends 'base.html' %} {% block content %}
<!-- 500 Error handler, to allow a user easily navigate, back home-->
<div class="error-container">
  <div>
      <h1 class="uppercase bold error-heading">
        <span class="text-black"> 500</span> error
      </h1>
      <h3 class="margin-top-small error-sub-heading">
        Oops! Internal Server Error
      </h3>
      <a href="{{ url_for('home')}}" class="btn btn-main btn-coral text-shadow-small
       waves-effect waves-light uppercase z-depth-3">Back Home</a>
    </div>
</div>
{% endblock %}
